<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><i class="oi oi-caret-right"></i>
                        <span>Cadastrar Médico</span></li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/medicos/listar}"
                    role="button"> <span class="oi oi-spreadsheet" title="Listar"
                    aria-hidden="true"></span> <span>Listar Médicos</span>
                </a>
            </div>
        </nav>

        <div class="container" id="cadastro">
            <form 
                th:action="${medico.id == null} ? @{/medicos/salvar} : @{/medicos/editar}"
                th:object="${medico}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome</label> <input type="text"
                            class="form-control" id="nome"
                            placeholder="Digite o nome do médico" autofocus="autofocus"
                            name="nome" th:field="*{nome}" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="crm">CRM</label> <input type="text"
                            class="form-control" id="crm" placeholder="Digite o CRM"
                            autofocus="autofocus" name="crm" th:field="*{crm}" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="especialidade">Especialidade</label> <select
                        th:field = "*{especialidade}" >                    
                            <option
                                th:each = "l:${especialidade}"
                                th:value = "${l.id}"
                                th:text = "${l.titulo}"
                            />                            
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <input type="hidden" id="id" name="id" th:field="*{id}" />
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </form>
        </div>
    </section>
</body>
</html>